doctype html(lang='en')
head
    meta(charset='UTF-8')   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')   
    meta(http-equiv='X-UA-Compatible', content='ie=edge')  
    title Tutoria
    |    

    link(rel='stylesheet', href="/css/home.css")
    
  body
    .page
      .container
        .brand
          h1.brand_name
            img(src='images/logo.png', width='250px')                   
            .header_cnt
              h3
                strong ¿Dudas sobre temas de alguna materia?                      
              h5
                span
                  strong !No te preocupes! Pedí ya una tutoría                          
              a.btn(href='tutoria/login') Pedir Tutoria