html
  head
    title Login
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  body
    h1
      | LOGIN
      br
      select
        | 
        option(value='1') Leandro
        option(value='2') Martin
        option(value='3') Gonsalo
        option(value='4') Agustin