html
  head
    

    meta(charset='UTF-8')
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Login

    link(rel="stylesheet", href='/css/formulario.css')
    
    link(rel='stylesheet', href="/css/normalize.css")
    
  body
    div(style='margin:100px;')
      form(method='POST', action='login/respuesta2')
        h2 Opciones:
        br
        select#metodo(name='metodo')


          option(value='1') Solicitar
          option(value='2') Cancelar
        
        br
        br
        input(type='submit', value='Continuar')
        br 
        br
        br
        a.btn(href='/tutoria/metodos') Ir a metodos