html
  head
    

    meta(charset='UTF-8')
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Login

    link(rel="stylesheet", href='/css/formulario.css')
    
    link(rel='stylesheet', href="/css/normalize.css")
    
  body
    div(style='margin:100px;')
      form(method='POST', action='login/respuesta3')


        h2 Profesor:
        br
        select#profesor(name='profesor')
          option(value='0xfd730bab2d10d2179aec947409e2f0c5d1ac5021') Jose
          option(value='0x2af24ec65db90aa75fc9c918da71e498c6812efe') Cristian
          option(value='0xbd7b59c5c01e860150200df323b703228625eff7') Sergio
        br


        h2 Key:
        br
        input#key(type='text', name='key', placeholder='key', autocomplete='on')
          
        br
        br
      
        input(type='submit', value='Confirmar')

        br
        br
        a.btn(href='/tutoria/login') Cerrar sesion
        br 
        br
        a.btn(href='/tutoria/metodos') Ir a metodos