doctype html(lang='en')
head
    meta(charset='UTF-8')   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')   
    meta(http-equiv='X-UA-Compatible', content='ie=edge')  
    title Respuesta
    |    
    link(rel='stylesheet', href="/css/respuesta.css")
      
      
 body
    .page
      .container
          h5
            strong Tutoría creada con éxito!                          
          a.btn(href='/inicio') Volver al inicio
    